	<section class="container text-center py-5 position-relative">

		<p class="container p-0 text-light">Idriss Diallo, Romain Morvant, Julien Gallerand | Projet Webforce3 2021 &copy; Dev'Loc </p>

		<a href="" data-bs-toggle="modal" class="nav-link text-warning" data-bs-target="#mentions">
  		Mentions Légales
		</a>
		<a href="" data-bs-toggle="modal" class="nav-link text-warning" data-bs-target ="#cgv">CGU & CGV</a>
		{# Modal Mentions-Légales #}
		<div class="modal fade" id="mentions" tabindex="-1" aria-labelledby="mentions" aria-hidden="true">
  			<div class="modal-dialog">
    		<div class="modal-content">
      		<div class="modal-header">
        		<h2 class="text-warning mb-3 text-center" id="mentions">Mentions-légales</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      	</div>
      		<div class="modal-body">
        		

            		<h4 class="text-center text-dark mb-3 font-weight-normal"><strong>Dev'Loc</strong> - Idriss Diallo, Romain Morvant, Julien Gallerand | Projet WebForce3.</h4>

               		<ul class="d-none">
                    	<li>Siège social : 244 Route de Seysses, 31100 Toulouse</li>
                        <li>Téléphone : 06 83 68 20 04</li>
                        <li>E-mail : contact@dev'loc.fr</li>
                        <li>Site internet : Dev'loc.fr</li>
                	</ul>


            		<h5 class="text-center text-secondary mb-3 font-weight-normal">Droits d'auteurs</h5> 
                		<p>En application du Code français, le logo Dev'Loc est protégé par les lois de la Propriété Intellectuelle.</p>
                		<p>Le logo est l'oeuvre de Manon Girard.</p>

            		<h5 class="text-center text-secondary mb-3 font-weight-normal">Protection des données personnelles</h5>
                		<p>Les données que vous nous confiez sont exclusivement destinées au traitement de vos demandes de mises en relations ou de vos commandes. En vertu de la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous disposez d'un droit d'accès, de consultation, de modification, de rectification et de suppression des informations que vous nous avez communiquées.</p>

            		<h5 class="text-center text-secondary mb-3 font-weight-normal">La confidentialité</h5>
                		<p>Nous prenons l'engagement de respecter la confidentialité des informations recueillies lors de vos demandes et de vos commandes. Nous nous interdisons toute revente de fichiers, qu'il s'agisse d'adresses postales, d'adresses e-mail, de numéros de téléphone, de télécopie ou de tout autre renseignement. Vos coordonnées ne seront utilisées que pour satisfaire vos demandes et commandes. Elles pourront également nous servir à vous informer des opérations promotionnelles ou des nouveaux produits (sauf avis contraire de votre part).</p>

      		</div>
      	<div class="modal-footer">
        		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      		</div>
    		</div>
  			</div>
		</div>

		{# Modal CGU & CGV #}

			<div class="modal fade" id="cgv" tabindex="-1" aria-labelledby="cgv" aria-hidden="true">
  			<div class="modal-dialog modal-xl">
    		<div class="modal-content">
      		<div class="modal-header">
        		<h2 class="text-warning mb-3 text-center" id="cgv">Conditions Générales d’Utilisation et de Vente de <strong>Dev'Loc</strong></h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      	</div>
      		<div class="modal-body">
        		
					<p>Les présentes conditions générales d’utilisation et de vente (ci-après dénommées « Conditions Générales») sont conclues entre :</p>
					<p>Dev'Loc.</p>
					<p>Et</p>
					<p>L’Utilisateur du Site www.dev'loc.fr</p>

										{# CG-Préambule #}

				<h3 class="text-left text-secondary py-2 mb-3 fw-bold">Préambule</h3>

					<p>La Société exploite un site internet accessible à l’adresse www.dev'loc.fr, proposant une place de marché en ligne dédiée à la mise en relation des Freelances et des Commerçants/Porteurs de Projet.
					<p>Les présentes Conditions Générales ont pour objet de régir les conditions et modalités d’utilisation et de vente du Site, ainsi que de définir les droits et obligations des Utilisateurs mis en relation sur le Site.
					<p>Tout accès et/ou utilisation du Site suppose l’acceptation sans réserves et le respect de l’ensemble des termes des présentes Conditions Générales.

										{# CG - Définitions #}
				<h3 class="text-left text-secondary py-2 mb-3 fw-bold">I – Définitions</h3>

					<p><strong class="fw-bold">Commerçants/Porteur de Projet :</strong> désigne toute personne morale ou physique, utilisant le Site à des fins strictement professionnelles, en vue d’entrer en contact ou d’être mis en relation avec un ou plusieurs Freelance(s) afin de lui confier la réalisation d’une Mission.
					<p><strong class="fw-bold">Contenu :</strong> désigne tous propos, messages ou informations de quelque nature que ce soit (texte, image, vidéos, photographies, commentaires, marques, dénominations sociales, etc.), mis en ligne par un Utilisateur sur le Site.
					<p><strong class="fw-bold">Freelance :</strong> désigne toute personne physique ou morale, soit disposant d’un numéro SIRET et inscrite au Registre du Commerce et des Sociétés, au Répertoire des Métiers, à la Maison des Artistes, à l’Agessa, ayant le statut de micro-entrepreneur soit exerçant en tant qu’indépendant dans des conditions légales depuis la France ou l’étranger et qui propose ses services aux Commerçants/Porteurs de Projet à travers le Site.</p>
					<p><strong class="fw-bold">Mandat de Facturation :</strong> désigne le mandat de facturation conclu entre le Freelance et la Société aux termes duquel le Freelance accepte de confier à la Société, dans le respect des règles applicables, l’établissement et l’émission de ses factures relatives aux Missions réalisées pour un Commerçant/Porteur de Projets via le Site.</p>
					<p><strong class="fw-bold">Mission :</strong> désigne la tâche spécifique confiée par un Commercant/Porteur de Projet à un Freelance.</p>
					<p><strong class="fw-bold">Site :</strong> désigne le site internet dont l’adresse est www.dev'loc.fr.</p>
					<p><strong class="fw-bold">Services :</strong> désigne tous les services fournis par la Société sur le Site et notamment, le service de mise en relation entre Freelances et Commerçants/Porteurs de Projet, les services de mise à disposition d’outils de moyens de paiement, l’établissement et l’émission de factures au nom et pour le compte des Freelances ainsi que des services destinés à accompagner le Commerçant/Porteur de Projet dans la recherche et la sélection de Freelances pour l’accomplissement de Missions.</p>
					<p><strong class="fw-bold">Utilisateurs :</strong> désigne les Freelances et les Commerçants/Porteurs de Projet</p>

								{# CG - inscription au site #}
            	<h3 class="text-left text-secondary py-2 mb-3 fw-bold">II – Inscription au Site</h3>
					<p><strong class="fw-bold">2.1 -</strong> Pour pouvoir accéder aux Services, l’Utilisateur doit créer un compte en s’inscrivant gratuitement sur le Site.</p>
					<p>L’Utilisateur doit être âgé d’au moins 18 ans et être capable juridiquement de contracter et d’utiliser le Site conformément aux présentes Conditions Générales. L’Utilisateur est tenu de fournir des informations exactes qu’il s’engage à mettre immédiatement à jour en cas de modifications.</p>
					<p>L’accès au compte créé est protégé par un identifiant et un mot de passe choisi par l’Utilisateur lors de son inscription sur le Site. L’Utilisateur est seul responsable de tout usage qui pourrait être fait de son identifiant et mot de passe, et seul garant de leur confidentialité, ainsi que de toute utilisation de son compte.</p>
					<p><strong class="fw-bold">2.2 -</strong> Pour être référencé comme Freelance sur le Site et être visible des Utilisateurs, celui-ci est tenu en outre de renseigner de manière exacte et complète sa page profil, ainsi que de la mettre à jour.</p>
					<p>Le Site de la Société étant une plateforme locale, l’Utilisateur est tenu d’indiquer comme zone d'activité principale, le lieu où il est immatriculé ou son lieu de résidence habituelle.</p>
								{# CG - Descritpions des services #}
				<h3 class="text-left text-secondary py-2 mb-3 fw-bold">III – Description des Services et fonctionnement du Site</h3>

					<p> <strong class="fw-bolds">3.1 -</strong> Les Services comprennent notamment :</p>
					<p>Une mise en relation facilitée entre des Freelances et des Commerçants/Porteurs de Projet.</p>
					<p>Une mise à disposition de moyens de paiement destinés à sécuriser le déroulé d’une Mission.</p>
					<p>La collecte auprès des Freelances des documents requis dans le cadre de l’obligation de vigilance et leur mise à disposition pour les Commerçants/Porteurs de Projets.</p>
					<p> <strong class="fw-bolds">3.2 -</strong> Le Commerçant/Porteur de Projet entre en contact avec le Freelance en le contactant via le Site. Après échange sur le champ et les modalités de la Mission, le Freelance adresse au Commerçant/Porteur de Projet grâce aux outils mis à sa disposition sur le Site, une proposition de services.</p>
								{# Prix des Services #}
				<h3 class="text-left text-secondary py-2 mb-3 fw-bold">IV- Prix des Services</h3>
					<p>Le Freelance paye une commission à la Société, calculée sur la base d’un pourcentage de la valeur totale du prix de la Mission. Cette commission est directement prélevée sur le montant payable au Freelance lors de la validation de la fin de la Mission par le Commerçant/ Porteur de Projet.</p>
					<p>Le Prix des Services (hors options) est fixé entre 5 et 10 % HT du prix de la Mission, selon l’historique et la relation entre le Freelance et le Commerçant/Porteur de Projet.</p>
					<p>Les frais des services pour le Commerçant/Porteur de Projet font l'objet d'une facture à part, directement adressée au Commerçant/Porteur de Projet. Ils s'élèvent à :
						<ul>
							<li>5% (HT) du montant de la mission pour l'offre Standard</li>
							<li>7% (HT) du montant de la mission pour l'offre Advanced</li>
							<li>Sur demande, sur le montant (HT) de la mission pour l'offre Corporate</li>
						</ul>
					</p>
								{# Paiement #}
				<h3 class="text-left text-secondary py-2 mb-3 fw-bold">V- Système de paiement</h3>
					<p><strong class="fw-bolds">5.1</strong> Le paiement par le Commerçant/Porteur de Projet du montant de la Mission est effectué par paiement par provision de la Mission via un compte de monnaie électronique (compte séquestre). Le paiement de la provision est effectué par carte bancaire à travers un service de paiement sécurisé en ligne ou par virement.</p>
					<p>Dans le cas des Services Corporate, le Commerçant/Porteur de Projet peut être autorisé à payer directement le montant de la Mission à son terme sans provision préalable, dans les délais de paiement prévus par la loi. Les conditions et modalités d’un tel paiement font l’objet d’un accord séparé.</p>
								{# Système d"évaluation #}
				<h3 class="text-left text-secondary py-2 mb-3 fw-bold">VI- Système d’évaluation et de recommandation</h3>
					<p><strong class="fw-bolds">6.1 -</strong> A la fin de chaque Mission, les Commerçants/Porteurs de Projet et les Freelances sont encouragés à évaluer mutuellement leur collaboration. L’évaluation laissée par un Commerçant/Porteur de Projet pourra apparaître sur la page du Freelance. L’évaluation laissée par un Freelance pourra être visible par les Freelances contactés par le Commerçant/Porteur de Projet pour une nouvelle Mission</p>
					<p>Les évaluations laissées par les Commerçants/Porteurs de Projet ne pourront être modifiées passées le délai d’un mois à compter de la fin de la Mission.</p>
					<p><strong class="fw-bolds">6.2 -</strong> Les Freelances ont également la possibilité de se faire recommander par d’autres Utilisateurs tels que collègues, amis ou anciens Commerçants, avec qui ils ont collaboré par le passé.</p>
					<p>Les recommandations pourront être cachées directement et librement par le Freelance sur son profil. Le Freelance s’engage toutefois à ne pas publier ou faire publier sur son profil des recommandations de pure complaisance.</p>
					<p>Les évaluations et recommandations doivent refléter des considérations objectives et ne sauraient, en aucun cas, comporter des éléments excessifs, insultants. Si tel était le cas, nous la Société se réserve la possibilité de supprimer cette évaluation.</p>
      		</div>

	</section>
