<div class="d-flex justify-content-center">
    <ul class="list-group list-group-horizontal pb-5">
        <li class="list-group-item px-5" style="background-color: #85C1E9">Inscription</li>
        <li class="list-group-item px-5" >Profil</li>
        <li class="list-group-item px-5">Coordonées</li>
    </ul>
</div>  
