/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Pacifico&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 16px;
}

header #introspect-nav {
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
}

header nav a:not(#introspect-nav) {
  font-weight: bold;
}

header section {
  position: relative;
}

header section div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 601px) {
  header section div p {
    font-size: 2rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 600px) {
  header section div p {
    font-size: 1rem;
  }
}

header section div #span-introspect {
  font-weight: 400;
}

body {
  font-family: 'Lato', sans-serif;
}

body a:not(#introspect-nav), body h1, body h2, body button, body label {
  text-transform: uppercase;
}

body p {
  padding: 1rem 0rem 1rem 0px;
}

body h1 {
  font-size: 2rem;
}

body h2 {
  font-size: 1.5rem;
}

body main .section-magna div {
  padding: 3rem 0rem 2rem 0rem;
}

body main .section-magna div h1 {
  margin: 1rem 0rem 2rem 0rem;
}

body main .section-magna div a {
  margin: 1rem 0rem 2rem 0rem;
}

body main .section-pellent {
  background-image: -webkit-gradient(linear, left top, right top, from(#f3f3f3), color-stop(50%, #f3f3f3), color-stop(#f7f7f7), color-stop(50%, #f7f7f7));
  background-image: linear-gradient(to right, #f3f3f3, #f3f3f3 50%, #f7f7f7, #f7f7f7 50%);
}

body main .section-pellent .div-pallent {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

body main .section-pellent .div-pallent h2 {
  margin: 1rem 0rem 2rem 0rem;
}

body main .section-article {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

body footer {
  padding: 3rem 0rem 3rem 0rem;
}

body footer h1 {
  padding: 1rem 0rem 0rem 0rem;
}

body footer label {
  padding: 2rem 0rem 2rem 0rem;
}

body footer button {
  margin: 2rem 0rem 2rem 0rem;
}

body footer form div {
  gap: 1rem;
}

body footer input, body footer textarea {
  opacity: 25%;
}

body footer input:focus, body footer input:hover, body footer textarea:hover, body footer textarea:focus {
  opacity: 100%;
  outline: none;
}
/*# sourceMappingURL=styles.css.map */